<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"> Welcome & Rules </a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
